<p>national works!</p>

<!-- <p>오늘 기록</p> -->
<ng-container *ngIf="(data$ | async) as data">
  <!-- <p>{{item[0] | json}}</p> -->
  <ul>
    <li *ngFor="let header of data.header">
      <span>{{header | translate}}:</span>
      <span *ngIf="data.items.length" [ngSwitch]="header">
        <span *ngSwitchCase="'createDt'"> {{data.items[0][header] | date: 'yyyy-MM-dd' }}</span>
        <span *ngSwitchCase="'natDeathCnt'"> {{data.items[0][header] | number: '1.0-2' }}</span>
        <span *ngSwitchCase="'natDeathRate'"> {{data.items[0][header] | number: '1.0-2' }}</span>
        <span *ngSwitchCase="'natDefCnt'"> {{data.items[0][header] | number: '1.0-2' }}</span>
        <span *ngSwitchDefault> {{data.items[0][header] }}</span>
      </span>
    </li>
  </ul>
  <national-detail></national-detail>


</ng-container>

