<p>최근 일주일간 기록</p>
<table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">

  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> {{column | translate}} </th>
    <td mat-cell *matCellDef="let element" [ngSwitch]="column">
      <span *ngSwitchCase="'createDt'"> {{element[column] | date: 'yyyy-MM-dd' }}</span>
      <span *ngSwitchCase="'natDeathCnt'"> {{element[column] | number: '1.0-2' }}</span>
      <span *ngSwitchCase="'natDeathRate'"> {{element[column] | number: '1.0-2' }}</span>
      <span *ngSwitchCase="'natDefCnt'"> {{element[column] | number: '1.0-2' }}</span>
      <span *ngSwitchDefault> {{element[column] }}</span>
    </td>
  </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <div class="example-element-description">
            {{element | json}}
          </div>
        </div>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  <!-- <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->
</table>
